#replaced with cleaner version

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Notebooks
.ipynb_checkpoints

# Virtual environment
venv/
.env

# Data (do not commit raw real datasets)
data/raw/
data/exports/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.pkl
